body {
	font-family: 'lato', sans-serif;
	font-size: 15px;
	line-height: 1.5em;
}

#container {
	width: 70%;
	margin: 50px auto; 
	background-color: #ffffff;
	overflow: auto;
}

p{
	margin: 10px 0px; 
	line-height: 1.5em;
}

h1 {
	font-size: 39px; 
	font-weight: bold; 
	margin: 20px 0px 10px 0px;
	line-height: 1.2em; 
}

h3 {
	font-size: 22px; 
	margin: 10px 0px;
}

h4 {
	font-size: 19px; 
	margin: 10px 0px;
}

strong {
	font-weight: bold;
}

.clear_fix {
	clear: both;
}

header#main_header {
	border-bottom: 4px solid #4ea0d8;
}

#logo {
	margin: 0px auto;
	display: block;
}

#main_text {
	text-align: center;
	color: #333;
	padding: 10px;
	margin: 20px;
}

#sub_1 {
	width: 48%; 
	float: left;
}

#sub_2 {
	width: 48%; 
	float: right;
}

.points li {
	margin-bottom: 30px; 
}

.points img {
	float: left;
	margin-right: 10px;
}

.points h4 {
	padding-top: 5px; 
}

#contact_form {
	padding: 10px;
	border: 4px solid #4ea0d8;
	border-radius: 10px;
	overflow: auto;
	background: #f4f4f4; 

}

#contact_form div {
	margin-bottom: 20px; 
}

#contact_form label {
	display: inline-block;
	width: 100px;
	font-weight: bold;
}

#contact_form input[type='text'], #contact_form input[type='email'] {
	border: 1px solid #ccc;
	border-radius: 5px;
	width: 65%;
	height: 25px; 
}

#contact_form input[type='submit'] {
	padding: 12px 17px;
	margin-bottom: 10px;
	color: white;
	background-color: #fa633e; 
	border-radius: 5px;
	border: 0;
	float: right;
}

#contact_form input[type='submit']:hover {
	background-color: #d55427; 
	cursor: pointer;
}

#contact_form .content_footer p {
	font-style: italic;;
	text-align: center;
	color: #666;
	font-size: 80%;
}

#testimonial {
	font-style: italic;
	text-align: center;
	color: #666;
}

#testimonial img {
	float: left;
	margin-right: 20px;
}

.content_header {
	border-bottom: 1px solid #ddd; 
	margin-bottom: 20px;
	padding-bottom: 10px;
}
.content_footer {
	border-top: 1px solid #ddd; 
	margin-bottom: 20px;
	padding-bottom: 10px;
}

#main_footer {
	border-top: 4px solid #ccc;
	color: #aaa;
	margin-top: 20px;
	text-align: center;
}
